{% extends 'base.html' %}
{% block content %}
  
<script>
  console.log("username: ", '{{username}}');
  console.log("public_key: ", '{{public_key}}');
  sessionStorage.setItem('public_key', '{{public_key}}');

  function confirmChallenge(mentors, index, user) {
    const challenger_username = '{{username}}';
    if(challenger_username == "None"){
      alert("You need login to challenge");
      return;
    }

    const score = parseInt('{{score}}');
    const mentor = mentors[index - 1];
    if(user.score >= mentor.score) {
      alert("You need to challenge with a mentor who has a higher score than you");
      return;
    }

    const confirmation = window.confirm(`Do you want to challenge with ${mentor.name ? mentor.name : mentor.username}?`);
    if (confirmation) {
        sendChallenge(user, mentor);
    }
  }

  function sendChallenge(user, mentor) {
    console.log("user: ", user)
    console.log("mentor: ", mentor)
    let temp = {
      "challenger": user,
      "mentor": mentor
    }
    temp = JSON.stringify(temp)
    console.log("temp: ", temp)
    fetch('/challenge', {
        method: 'POST',
        body: temp,
        headers: {
          "Content-Type": "application/json",
        },
    })
    .then(response => response.json())
    .then(response => {
      console.log("response = ", response);
      if(response.result == "failed") {
        alert(response.message);
        return;
      }

      let challenger = response.challenger;
      let mentor     = response.mentor;
      console.log("response = ", response); 
      console.log("challenger = ", challenger);
      console.log("mentor = ", mentor);
      window.location.href = `/challenge?challenger=${challenger}&mentor=${mentor}`;
    })
    .catch(error => {
      console.log('Error:', error);
      alert("Server is busy, try again later!")
    })
  }
</script>

<div>
  <h1 class="text-center mt-3">Contest</h1>

  <form>
    
  </form>

  <form method="post" class="float-end row col-6 mt-3 mb-3">
    <div style="width: 40%;" class="input-group col-6">
      <span class="input-group-text" id="min-score">Min Score</span>
      <input required type="number" name="min_score" value="{{min_score}}" autocomplete="off" style="flex: 0 0 auto; width: 50%; " class="form-control" placeholder="0" aria-label="Min Score" aria-describedby="basic-addon1">
    </div>

    <div style="width: 40%;" class="input-group col-6">
      <span class="input-group-text" id="max-score">Max Score</span>
      <input required type="number" name="max_score" value="{{max_score}}" autocomplete="off" style="flex: 0 0 auto; width: 50%;" class="form-control" placeholder="0" aria-label="Max Score" aria-describedby="basic-addon1">
    </div>

    <button  style="width: 10%;" class="btn btn-success search-button">Find</button>
  </form>

  {% if mentors %}
    <table class="container table table-striped mt-3 text-center">
      <thead>
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Name</th>
          <th scope="col">Score</th>
          <!-- <th scope="col">Public Key</th> -->
          <th scope="col">Action</th>
        </tr>
      </thead>

      <tbody class="overflow-auto">
        {% for mentor in mentors %}
        <tr>
            <th scope="row" class="col-1">{{ loop.index }}</th>
            <!-- <td class="col-5">{{ user.username }}</td> -->
            {% if mentor.name %}
             <td class="col-3">{{ mentor.name }}</td>
            {% else %}
             <td class="col-3">{{ mentor.username }}</td>
            {% endif %}

            <td class="col-2">{{ mentor.score }}</td>
            <td class="col-2 align-items-center">
              <div class="btn-group" role="group" aria-label="inline-btn">
                <button style="min-width: 5rem;" type="button" class="btn btn-outline-success"
                        onclick="window.open('/{{mentor.username}}')">
                  View
                </button>
              </div>
            </td>  
          </tr>
          {% endfor %}
      </tbody>
    </table>

  {% else %}
    <h2 class="text-center mt-3">No user found</h2>
  {% endif %}
</div>
{% endblock %}