<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width">
    <title>Bob Smith | Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
<header class="header" style="width: 100%;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Insight</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contest">Contest</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sign">Sign</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/verify">Verify</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    {% if username %}
                    <div style="align-items: center; display: flex; margin-right: 10px;">
                        <div class="icon-container" style="margin-right: 10px;">
                            <i id="notification-icon" class="bi bi-bell-fill"></i>
                        </div>
                        Hi {{ username }}
                    </div>
                    <button id="logoutButton" class="btn btn-outline-danger" onclick="logout_user(event)">Log out</button>
                    {% else %}
                    <button id="loginButton" class="btn btn-outline-success" onclick="login_user(event)">Login/Sign Up</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </nav>
</header>

{% block content %}
<div class="container mt-5">
    <h2>Send email</h2>
    <form action="/send-email" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">To</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="subject" class="form-label">Subject</label>
            <input type="text" class="form-control" id="subject" name="subject" required>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" name="message" rows="10" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send Email</button>
    </form>
</div>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
    function login_user(event) {
        event.preventDefault();
        window.location.href = "/signup";
    };
    function logout_user(event) {
        event.preventDefault();
        window.location.href = "/logout";
    };
</script>

</body>
</html>
