{% extends 'base.html' %}
{% block content %}

<script>
{## Đoạn này làm để trả tải về máy#}
{##}
{#function viewTest(roomID) {#}
{#  var xhr = new XMLHttpRequest();#}
{#  xhr.open('GET', '/view_test/' + roomID, true);#}
{#  xhr.responseType = 'arraybuffer';#}
{##}
{#  xhr.onload = function () {#}
{#    if (xhr.status == 200) {#}
{#      // Nếu nhận được dữ liệu thành công, tạo một blob từ arrayBuffer#}
{#      var arrayBuffer = xhr.response;#}
{#      var blob = new Blob([arrayBuffer], { type: 'application/pdf' });#}
{##}
{#      // Tạo một URL cho blob và tạo liên kết tải về#}
{#      var url = window.URL.createObjectURL(blob);#}
{#      var a = document.createElement('a');#}
{#      a.href = url;#}
{#      a.download = 'test.pdf';  // Tên file khi tải về#}
{#      document.body.appendChild(a);#}
{#      a.click();#}
{##}
{#      // Giải phóng URL và element a sau khi tải xong#}
{#      window.URL.revokeObjectURL(url);#}
{#      document.body.removeChild(a);#}
{#    } else {#}
{#      alert('Error! Please try again!');#}
{#    }#}
{#  };#}
{##}
{#  // Gửi yêu cầu lấy dữ liệu PDF từ server#}
{#  xhr.send();#}

function viewTest(roomID) {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/view_test/' + roomID, true);
  xhr.responseType = 'arraybuffer';

  xhr.onload = function () {
    if (xhr.status == 200) {
      // Nếu nhận được dữ liệu thành công, tạo một blob từ arrayBuffer và mở cửa sổ mới chứa PDF
      var arrayBuffer = xhr.response;
      var blob = new Blob([arrayBuffer], { type: 'application/pdf' });
      var url = URL.createObjectURL(blob);

      // Mở cửa sổ mới chứa PDF
      window.open(url, '_blank');
    } else {
      alert('Error! Please try again!');
    }
  };

  // Gửi yêu cầu lấy dữ liệu PDF từ server
  xhr.send();
}

function viewTestSignature(room_id){
  console.log(room_id)
  window.open('/room/mentor/test_signature?room_id=' + room_id)

  // const button = document.getElementById('button-launch-modal')
  // button.click()

  // const modal = document.getElementById('exampleModal')
  // modal.querySelector('.modal-title').textContent = 'Test Signature'
  // modal.querySelector('.modal-body').textContent = signature
}

async function uploadTest(roomId) {
  // Lấy file đề thi từ người dùng
  var fileInput = document.createElement('input');
  fileInput.type = 'file';
  fileInput.accept = '.pdf';  // Chỉ chấp nhận file PDF

  console.log(fileInput)

  fileInput.onchange = async function () {
    if (!window.ethereum) {
      alert('Metamask not installed')
      return
    }
    if('{{metamask_id}}' == '') {
      alert('Please login again!')
      return
    }
    const provider = new ethers.providers.Web3Provider(window.ethereum)
    // console.log("metamask = ", '{{metamask_id}}')
    const signer = provider.getSigner('{{metamask_id}}'); // signer.getAddress() == accounts[0]
    const signerAddress = await signer.getAddress();
    // console.log("signerAddress = ", signerAddress)
    if('{{metamask_id}}' != signerAddress) {
      alert('Please connect to the correct metamask account.\nYour metamask account is {{metamask_id}}')
      return
    }


    var file = fileInput.files[0];
    var formData = new FormData();
    formData.append('file', file);
    formData.append('room_id', roomId);

    // Gửi yêu cầu POST để tải lên file đề thi lên server
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/mentor', true);
    xhr.onload = function () {
        if (xhr.status == 200) {
            alert('Successful!');
            location.reload();
        } else {
            alert('Error! Please try again!');
        }
    };


    // Here, you can read the file content, for example:
    const reader = new FileReader();
    reader.onload = function (e) {
      const fileContent = e.target.result;
      // You can do something with the file content here

      const arr = new Uint8Array(fileContent);
      hash_file = ethers.utils.sha256(arr);
      signer.signMessage(hash_file)
        .then((signature) => {
          fetch('/room/mentor/sign', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              'room_id': roomId,
              'signature': signature
            })
          })
          .then((response) => response.json())
          .then((data) => {
            console.log('Success:', data);
            xhr.send(formData);
          })
        })    
    };
    reader.readAsArrayBuffer(file); // Read the file as text
  };

  // Kích hoạt sự kiện click trên input[type=file] để chọn file
  fileInput.click();
}

function viewSubmit(roomID) {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/view_submit/' + roomID, true);
  xhr.responseType = 'arraybuffer';

  xhr.onload = function () {
    if (xhr.status == 200) {
      // Nếu nhận được dữ liệu thành công, tạo một blob từ arrayBuffer và mở cửa sổ mới chứa PDF
      var arrayBuffer = xhr.response;
      var blob = new Blob([arrayBuffer], { type: 'application/pdf' });
      var url = URL.createObjectURL(blob);

      // Mở cửa sổ mới chứa PDF
      window.open(url, '_blank');
    } else {
      alert('Error! Please try again!');
    }
  };

  // Gửi yêu cầu lấy dữ liệu PDF từ server
  xhr.send();
}
</script>

  <h1 class="text-center mt-3">Mentor Room</h1>

  {% if mentor_rooms %}
    <table class="table table-bordered mt-3 text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">RoomID</th>
          <th scope="col">Contestant</th>
          <th scope="col">Test</th>
          <th scope="col">Submission</th>
          <th scope="col">Test Signature</th>
        </tr>
      </thead>

      <tbody class="overflow-auto">
        {% for mentor in mentor_rooms %}
        <tr>
          <th scope="row" class="col-1">{{ loop.index }}</th>
          <td class="col-2">{{ mentor._id }}</td>
          <td class="col-2">{{ mentor.contestant }}</td>
          {% if not mentor.test %}
            <td class="col-2">
              <button class="btn btn-danger" onclick="uploadTest('{{ mentor._id }}')">Submit</button>
            </td>
          {% else %}
            <td class="col-2">
              <button class="btn btn-success" onclick="viewTest('{{ mentor._id }}')">View</button>
            </td>
          {% endif %}

          {% if not mentor.submission %}
            <td class="col-2">None</td>
          {% else %}
            <td class="col-2">
              <button class="btn btn-success" onclick="viewSubmit('{{ mentor._id }}')">View</button>
            </td>
          {% endif %}
          
          {% if mentor.test_sign %}
           <td class="col-2">
              <button class="btn btn-success" onclick="viewTestSignature('{{mentor._id}}')">View</button>
            </td>
          {% else %}
          <td class="col-2">None</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h2 class="text-center mt-3">No room found</h2>
  {% endif %}

<!-- Button trigger modal -->
<button id="button-launch-modal"  type="button" class="d-none btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>abc</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}